/* style.css */

body {
	-webkit-print-color-adjust: exact;

}

body h1 {
	font-family: 'Roboto Condensed', sans-serif;
}

@media print {
	.trow,.tcell,#calendar .weekday {
		page-break-inside: avoid;
	}
	.numbering {
		page-break-after: avoid;
	}
	.mdl-button {
		display: none;
	}
}

.trow {
	display: table-row;
}

.tcell {
	display: table-cell;
}

#calendar .tcell:first-child {
	border-left-width: 1px;
}

b.weeknumber {
	font-size: xx-small;
	float: right;
	margin-right: 7px;
	margin-top: 3px;
}
span.day {
	font-size: xx-small;
}

#calendar {
	display: table;
	table-layout: fixed;
	overflow-x: hidden;
	font-family: 'Roboto Condensed', sans-serif;
}

.weekday-6, .weekday-7 {
	/* saturday and sunday */
	background: #eee!important;
	z-index: 0;

}

.monthname {
	/* font-weight: bolder; */
	page-break-after: avoid;
}

.yeartitle {
	font-size: xx-large;
	text-align: center;
	page-break-after: avoid;
}

#calendar .weekday {
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	padding: 4px 1px;
	min-width: 50px;
	max-width: 50px;
	height: 96px;
	max-height: 116px;
	overflow: visible; /* hidden, overlay, scroll, visible */
	font-weight: 300;
}

.numbering {
	margin-left: 3px;
}

.page-break {
  page-break-before: always;
}

.events {
}

.event {
	width: 50px;
	position: relative;
	overflow: hidden;
	margin-bottom: 0.5px;
	padding-left: 1px;
	border-width: 0 0 0 3px;
	border-style: solid;
}

.event:nth-child(n+2) {
	/*select all but first item*/
	/*top: -3px;*/
}

.event.duration-1 {
	/*one day events*/
	/*top: 3px;*/
}

.event:not(.duration-1) {
	/*multiple day events*/
	border-width: 1px 1px 1px 3px;
	border-style: dotted dotted dotted double;
}

.event .title {
	font-size: 60%;
}
