/* style.css */

.trow {
	display: table-row;
}

.trow:first-child {
	border-left: 1px solid #ccc;
}

.tcell {
	display: table-cell;
}

b.weeknumber {
	font-size: xx-small;
}
span.day {
	font-size: xx-small;
}

#calendar {
	display: table;
	table-layout: fixed;
}

.weekday-6, .weekday-7 {
	/* saturday and sunday */
	background: #eee;
	z-index: 0;
}

#calendar .weekday {
	border: 1px solid #ccc;
	border-width: 1px 1px 1px 0;
	padding: 4px 1px;
	min-width: 50px;
	max-width: 50px;
	height: 96px;
	max-height: 116px;
	overflow: visible; /* hidden, overlay, scroll, visible */
}


.numbering {
	margin-left: 3px;
}

.events {
	display:flex; 
	flex-direction: column-reverse;

}

.event {
	z-index: 10;
	width: 50px;
	flex: auto;
}

.event .title {
	font-size: 60%;
}