<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="/colors.css" rel="stylesheet" type="text/css">
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>  </head>
  <body>
    <div>
      <h1>&#128197; {{calendar.id}} <div style="float:right">{{startdate.strftime("%b %Y")}}&#8703;{{enddate.strftime("%b %Y")}}</div></h1>
      <div id=calendar>
        <div>
        {%for yearmonth, days in calendar.dates(startdate, enddate).iteritems()%}
          {% set year = yearmonth[:4] %}
          {% set month = yearmonth[5:]|int %}
          {% if current_year != year %}
          <div class="yeartitle">{{year}}</div>
          {% endif %}
          <div class="monthname">{{months[month]}}</div>
          <div class="trow">
            {% for day in days %}
              <div class="tcell weekday weekday-{{day.weekday}}">
                <div class=numbering>
                  <span class="day">{{day.date.day}}</span>
                  {% if day.weekday == 1 %}
                    <b class="weeknumber">{{day.weeknumber}}</b>
                  {% endif %}
                </div>
                <div class=events>
                {% for event in day.events %}
                  <div data-icaluid="{{event.items.iCalUID}}" class="event color-event-{{event.items.colorId|default('default')}} duration-{{event.days}}" style="width: {{event.days}}00%;">
                    <span class="title" title="{{event.items.summary|e}}">{{event.slug}}</span>
                  </div>
                {%endfor%}
                </div>
              </div>
            {%endfor%}
          </div>
          {% set current_year = year %}
        {%endfor%}
        </div>
      </div>
      <hr>
      <h1>Details</h1>
      <div id="details">
          {% for color, events in calendar.by_color(startdate, enddate).iteritems() %}
          <div class=eventlist style="float:left; width: 10em;">

              {%for e in events %}
              <dl class="dl-horizontal color-event-{{e.items.colorId|default('default')}}">
                  <dt>{{e.startdate}}</dt>
                  <dd>{{e.items.summary|e}}</dd>
              </dl>
              {%endfor%}
          </div>
          {%endfor%}

      </div> <!-- #details -->
    </div>
  </body>
</html>
