/* colors.css */
{% for c in colors %}
.color-{{c.category}}-{{c.colorId}} {
	background:{{c.background}}; 
	color:{{c.foreground}};
}
{%endfor%}
.color-event-default {
	background:lightblue; 
	color:white;
}
.color-calendar-default {
	background:lightblue; 
	color:white;
}
