/* colors.css */
{% for c in colors %}
.color-{{c.category}}-{{c.colorId}} {
	border-color:{{c.background}}; 
	/*
	color:{{c.foreground}};
	background:{{c.background}}; 
	*/
}
{%endfor%}
.color-event-default, .color-calendar-default {
	background:#dedee6!important;
	color:black;
	border-color: blueviolet;
}
