<!doctype html>
<html>
  <head>
    <link href="/static/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Coming+Soon:regular" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/static/material.min.css">
    <script src="/static/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="/getcolors" defer></script>
  </head>
  <body>
    <div class="mdl-grid">
      <div class="mdl-cell mdl-cell--stretch">
        <h1>
          Perpetual Yearcal
          <small>A never ending calendar</small>
        </h1>
        {% if calendars|length == 0 %}
          {% if authorize_url %}
            <p>
              <b>Hello</b>, we need to be allowed to list your calendars :)
              <a class="title" title="Grant read access to your calendars" href="{{ authorize_url }}">I'll allow access</a>
            </p>
          {% else %}
            <p>
              <b>Crikey</b>, we found no calendars to show you.
              <a class="title" href="/cals">Log in and get calendars</a>
            </p>
          {% endif %}
        {% else %}
          <ul id="calendars" class="mdl-list">
            {% for cal in calendars %}
            <li class="mdl-list__item {{ cal.status }}">
              <div class="mdl-list__item-primary-content">
                <i class="material-icons mdl-list__item-icon">event</i>
                <a class="title" href="/cal/{{ cal.id }}" title="{{ cal.id }}">{{ cal.summaryOverride or cal.summary  }}</a>
              </div>
            </li>
            {% endfor %}
          </ul>
          <h2>Trello boards</h2>
          {% if trelloboards|length == 0 %}
            <p>You should go ahead and <a href="/trelloconnect">list your trello boards here!</a></p>
          {% else %}
            
            <ul id="trelloboards" class="mdl-list">
              {% for board in trelloboards %}
              <li class="mdl-list__item {{ board.status }}">
                <div class="mdl-list__item-primary-content">
                  <i class="material-icons mdl-list__item-icon">event</i>
                  <a class="title" href="/trelloboard/{{ board.id }}" title="{{ board.client }}">{{ board.description or board.name  }}</a>
                </div>
              </li>
              {% endfor %}
            </ul>
          {% endif %}
        {% endif %}
      </div> <!-- /class mdl-grid -->

    </div> <!-- /class mdl-cell -->
  </body>
</html>
